.DS_Store
/Subtitle/SubtitleEditorForm/obj/x86/Debug
/Subtitle/SubtitleEditorForm/bin/Debug
/Subtitle/SubtitleEditor/obj/Debug
/Subtitle/SubtitleEditor/bin
/Subtitle/SubtitleEditor/.vs/SubEditorMerge/v14
*.suo
/Subtitle/NotificationControl/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Subtitle/NotificationControl/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Subtitle/NotificationControl/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Subtitle/NotificationControl/obj/Debug/NotificationControl.pdb
/Subtitle/NotificationControl/obj/Debug/NotificationControl.Notification.resources
/Subtitle/NotificationControl/obj/Debug/NotificationControl.dll
/Subtitle/NotificationControl/obj/Debug/NotificationControl.csprojResolveAssemblyReference.cache
/Subtitle/NotificationControl/obj/Debug/NotificationControl.csproj.GenerateResource.Cache
/Subtitle/NotificationControl/obj/Debug/NotificationControl.csproj.FileListAbsolute.txt
/Subtitle/NotificationControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Subtitle/NotificationControl/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Subtitle/NotificationControl/obj/Debug
/Subtitle/NotificationControl/bin/Debug/NotificationControl.pdb
/Subtitle/NotificationControl/bin/Debug/NotificationControl.dll
/Subtitle/NotificationControl/bin/Debug
/Subtitle/AdjustControl/obj/x86/Debug/WindowsApplication.pdb
/Subtitle/AdjustControl/obj/x86/Debug/WindowsApplication.dll
/Subtitle/AdjustControl/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Subtitle/AdjustControl/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Subtitle/AdjustControl/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Subtitle/AdjustControl/obj/x86/Debug/SubtitleEditorForm.AdjustTimeController.resources
/Subtitle/AdjustControl/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Subtitle/AdjustControl/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Subtitle/AdjustControl/obj/x86/Debug/AdjustControl.csproj.GenerateResource.Cache
/Subtitle/AdjustControl/obj/x86/Debug/AdjustControl.csproj.FileListAbsolute.txt
/Subtitle/AdjustControl/obj/x86/Debug
/Subtitle/AdjustControl/bin/Debug/WindowsApplication.vshost.exe.manifest
/Subtitle/AdjustControl/bin/Debug/WindowsApplication.vshost.exe
/Subtitle/AdjustControl/bin/Debug/WindowsApplication.pdb
/Subtitle/AdjustControl/bin/Debug/WindowsApplication.dll
/Subtitle/AdjustControl/bin/Debug
